/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 550px;
  margin: 0 auto;
  background: linear-gradient(180deg, #fff 0%, #f6f7fb 100%);
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #fff;
}

/* PROFILE */

.profile {
  position: relative;
  max-width: 95%;
  margin: auto;
}

.profile img {
  max-width: 100%;
  border-radius: 15px;
}

.profile-content {
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.profile-content h3 {
  color: #f8f8f8;
  font-size: 2rem;
  font-weight: 600;
}

.profile-content span {
  font-size: 1.5rem;
  font-weight: 400;
  color: #b7b7b7;
}

/* BUTTON CONTAINER */

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1.5em;
}

.btn-container button {
  background-color: #fff;
  border-radius: 50%;
  border: none;
  padding: 1em;
  box-shadow: 0px 10px 20px 0px #e9e9ea;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#like-btn:hover {
  background-color: #dbfff4;
}

#reject-btn:hover {
  background-color: #ffe7ef;
}

/* BADGE */

.badge {
  transform: rotate(-30deg);
  position: absolute;
  top: 50px;
  left: 25px;
  width: 40%;
}

.hidden {
  display: none;
}
